{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug": true
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}
